<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changyue.blogserver.dao.CategoryMapper">

    <resultMap id="BaseResultMap" type="category">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="slug_name" jdbcType="VARCHAR" property="slugName"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, description, name, parent_id, slug_name, user_id
    </sql>

    <select id="listLatest" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        order by id desc limit 5
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findBySlugName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        where slug_name = #{slugName,jdbcType=VARCHAR}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="listByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        where parent_id = #{parentId,jdbcType=INTEGER}
    </select>

    <select id="listAllByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="listCategoryByNull" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        where user_id = #{userId,jdbcType=INTEGER}
        and parent_id is null
    </select>

    <select id="listCategoryByIds" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from categories
        where id in
        <foreach item="id" index="index" collection="categoryIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="listCategoryByPostId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT c.id, c.description, c.name, c.parent_id, c.slug_name, c.user_id
        from post_categories pc,
             categories c,
             posts p
        WHERE pc.post_id = p.id
          and pc.category_id = c.id
          and p.id = #{postId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from categories
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete
        from categories
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <select id="count" parameterType="category" resultType="java.lang.Long">
        select count(id)
        from categories
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="userId != null">
                and userId = #{userId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="category" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into categories (description, name,
                                parent_id, slug_name, user_id)
        values (#{description,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{parentId,jdbcType=INTEGER}, #{slugName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="category">
        insert into categories
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="slugName != null">
                slug_name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="slugName != null">
                #{slugName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="category">
        update categories
        <set>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="slugName != null">
                slug_name = #{slugName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="category">
        update categories
        set description = #{description,jdbcType=VARCHAR},
            name        = #{name,jdbcType=VARCHAR},
            parent_id   = #{parentId,jdbcType=INTEGER},
            slug_name   = #{slugName,jdbcType=VARCHAR},
            user_id     = #{userId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
