<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changyue.blogserver.dao.CrawlerPostSiteMapper">
    <resultMap id="BaseResultMap" type="crawlerPostSite">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="brief" jdbcType="VARCHAR" property="brief"/>
        <result column="rss_url" jdbcType="VARCHAR" property="rssUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="article_num" jdbcType="INTEGER" property="articleNum"/>
        <result column="cate_id" jdbcType="INTEGER" property="cateId"/>
    </resultMap>

    <resultMap id="VOResultMap" type="siteVO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="brief" jdbcType="VARCHAR" property="brief"/>
        <result column="rss_url" jdbcType="VARCHAR" property="rssUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="article_num" jdbcType="INTEGER" property="articleNum"/>
        <association property="crawlerPostCate">
            <id column="cateId" jdbcType="INTEGER" property="id"/>
            <result column="cateName" jdbcType="VARCHAR" property="name"/>
            <result column="cateSiteIds" jdbcType="VARCHAR" property="siteIds"/>
        </association>
    </resultMap>

    <sql id="VO_Column_List">
        cps.id, cps.pic, cps.brief, cps.rss_url, cps.create_time, cps.update_time, cps.name, cps.article_num, cpc.id as cateId, cpc.site_ids as cateSiteIds, cpc.name as cateName
    </sql>

    <select id="listByAll" resultMap="VOResultMap" parameterType="siteQuery">
        select
        <include refid="VO_Column_List"/>
        from crawler_post_site cps,crawler_post_cate cpc
        <where>
            cps.cate_id = cpc.id
            <if test="keyWords != null">
                and cps.name LIKE CONCAT('%',#{keyWords},'%')
            </if>
            <if test="cateId != null">
                and cps.cate_id = #{cateId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <sql id="Base_Column_List">
        id, pic, brief, rss_url, create_time, update_time, name, article_num, cate_id
    </sql>

    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from crawler_post_site
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        select *
        from crawler_post_site
    </select>

    <select id="findListIds" resultType="java.lang.String">
        select distinct id
        from crawler_post_site
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from crawler_post_site
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="crawlerPostSite">
        insert into crawler_post_site (id, pic, brief,
                                       rss_url, create_time, update_time,
                                       name, article_num, cate_id)
        values (#{id,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR},
                #{rssUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
                #{name,jdbcType=VARCHAR}, #{articleNum,jdbcType=INTEGER}, #{cateId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="crawlerPostSite">
        insert into crawler_post_site
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="brief != null">
                brief,
            </if>
            <if test="rssUrl != null">
                rss_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="articleNum != null">
                article_num,
            </if>
            <if test="cateId != null">
                cate_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="brief != null">
                #{brief,jdbcType=VARCHAR},
            </if>
            <if test="rssUrl != null">
                #{rssUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="articleNum != null">
                #{articleNum,jdbcType=INTEGER},
            </if>
            <if test="cateId != null">
                #{cateId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="crawlerPostSite">
        update crawler_post_site
        <set>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="brief != null">
                brief = #{brief,jdbcType=VARCHAR},
            </if>
            <if test="rssUrl != null">
                rss_url = #{rssUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="articleNum != null">
                article_num = #{articleNum,jdbcType=INTEGER},
            </if>
            <if test="cateId != null">
                cate_id = #{cateId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="crawlerPostSite">
        update crawler_post_site
        set pic         = #{pic,jdbcType=VARCHAR},
            brief       = #{brief,jdbcType=VARCHAR},
            rss_url     = #{rssUrl,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            name        = #{name,jdbcType=VARCHAR},
            article_num = #{articleNum,jdbcType=INTEGER},
            cate_id     = #{cateId,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
