<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changyue.blogserver.dao.PhotoMapper">

    <resultMap id="BaseResultMap" type="photo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="take_time" jdbcType="TIMESTAMP" property="takeTime"/>
        <result column="team" jdbcType="VARCHAR" property="team"/>
        <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <resultMap id="GroupTeam" type="photo">

    </resultMap>

    <sql id="Base_Column_List">
        id, description, location, name, take_time, team, thumbnail, url
    </sql>

    <select id="findAllTeams">
        select distinct p.team
        from photos p
    </select>

    <select id="findByTeam" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos
        where team = #{team,jdbcType=VARCHAR}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from photos
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from photos
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="photo" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into photos (id, description, location,
                            name, take_time, team,
                            thumbnail, url)
        values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{takeTime,jdbcType=TIMESTAMP}, #{team,jdbcType=VARCHAR},
                #{thumbnail,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="photo">
        insert into photos
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="takeTime != null">
                take_time,
            </if>
            <if test="team != null">
                team,
            </if>
            <if test="thumbnail != null">
                thumbnail,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="takeTime != null">
                #{takeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="team != null">
                #{team,jdbcType=VARCHAR},
            </if>
            <if test="thumbnail != null">
                #{thumbnail,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="photo">
        update photos
        <set>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="takeTime != null">
                take_time = #{takeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="team != null">
                team = #{team,jdbcType=VARCHAR},
            </if>
            <if test="thumbnail != null">
                thumbnail = #{thumbnail,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="photo">
        update photos
        set description = #{description,jdbcType=VARCHAR},
            location    = #{location,jdbcType=VARCHAR},
            name        = #{name,jdbcType=VARCHAR},
            take_time   = #{takeTime,jdbcType=TIMESTAMP},
            team        = #{team,jdbcType=VARCHAR},
            thumbnail   = #{thumbnail,jdbcType=VARCHAR},
            url         = #{url,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
